/* shop bar */
.shop{
    background-color: #f3f2ee;
    margin-top: 100px;
}
.shop .container{
    padding-top: 40px;
    padding-bottom: 40px;
}
.shop .container h3{
    font-size: 25px;
    margin: 0 0 15px 0;
}
.shop .container .links{
    display: flex;
    align-items: flex-end;
}
.shop .container .links a{
    color: #000;
    display: block;
    margin-right: 5px;
}
.shop .container .links i{
    display: block;
    margin-right: 5px;
}
.shop .container .links a:last-of-type{
    color: #777;
}

/* shop  */
.h_container1 {
    background-color: #fff;
    padding: 40px 0;
}

.container_left {
    padding-left: 25px;
    margin-top: 25px;
    display: inline-block;
    width: 30%;
}

.container_right {
    display: inline-block;
    width: 60%;
}

body {
    color: #212529;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    margin: 0 0 15px 0;
}
.h_title_category{
    top: 25px;
    align-items: center;
}
a {
    color: #8d99ae;
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.h_Shop_Section {
    padding-top: 10px;
    padding-bottom: 100px;
    background-color: #fff;
}

.h_collapse ul li {
    list-style: none;
}

.container_left {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 25%;
    max-width: 25%;
}

.container_right {
    flex: 0 0 75%;
    max-width: 75%;
}

.h_filter {
    padding: 0;
    padding-top: 10px;
    padding-bottom: 20px;
}
.h_searchBar{
    width: 100%;
    font-size: 15px;
    color: white;
    padding-left: 20px;
    border: 1px solid #e5e5e5;
    height: 42px;
    padding-top: 10px;
    
}
input{
    margin: 0;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    background-color: field;
    outline: none;
}

/* products section */
.products .container .h-showRow .container-right{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 50px;
}
.products .container .h-showRow{
    display: flex;
}
.products .container .h-showRow .container-left{
    width: 300px;

}
.products .container .h-showRow .container-right{
    width: 80%;
}
.products .container-right .product img{
    max-width: 100%;
}
.products .container-right .product .stars{
    color: rgb(238, 216, 21);
}
.products .container-right .product{
    text-align: center;
    text-transform: capitalize;
}

#myproducts{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 50px;
}